.products {
    padding: 50px 0;
    &__title {
        font-size: 24px;
        font-weight: 500;
    }
    &__offer {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }
    &__button {
        &-more {
            margin-top: 20px;
            padding: 10px 15px;
            text-align: center;
            border: none;
            border-radius: 3px;
            background-color: aqua;
        }
    }
}