.header {
    padding: 15px 0;
    width: 100%;
    background: url('../../resources/img/header_bg.webp');
    &__offer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        width: 40px;
        height: 40px;
        object-fit: contain;
    }
    &__items {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    &__icon {
        height: 30px;
        width: 30px;
        cursor: pointer;
        color: #fff;
    }
}