.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 12px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: #A73AFD;
    font-size: 14px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    &-more {
        margin: 0 auto;
        margin-top: 40px;
        width: 200px;
        background-color: #FB11D9;
    }
}