.form {
    &-input {
        width: 100%;
        font-family: "Roboto", serif;
        font-size: 16px;
        padding: 12px 10px;
        border: none;
        background-color: #fff;
        border-radius: 15px;
        height: 20px;
        &:focus {
            outline: none;
        }
        &-offer {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        &-search {
            width: 400px;
            padding-right: 40px;
            &-icon {
                width: 20px;
                height: 20px;
                color: #EF0FCF;
            }
            &-btn {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                border: none;
                background: none;
                cursor: pointer;
            }
        }
        &-container {
            position: relative;
        }
    }
    &-label {
        font-size: 18px;
        color: #868695;
    }
    &-text {
        font-size: 14px;
        color: #868695;
        a {
            color: #EF0FCF;
        }
    }
}